body {
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.box{
    background: #FFFFFF;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    height: 100vh;
}
.bravetel {
    background: #F9F9FB;
    border-bottom: solid #FFF 6px !important;
    border-top: solid #FFF 8px !important;
    padding: 50px;
}
.time-box {
    background: #EBEFF2;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #696969;
}

.time-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #484747;
}

.main-btn {
    background: #0BA59D;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    /*line-height: 20px;*/
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 25px;
}
.main-btn:hover {
    background: #0BA59D!important;
    border-radius: 20px;
    color: #FFFFFF!important;
}
.header-bg {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.hero-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #0BA59D;
}
.login-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #0BA59D;
}

.hero-caption {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}